*{
    margin: 0;
    padding: 0;
}

#topo{
    background: url(img/farmtopo.png) no-repeat;
    height: 80px;
}

#menuvertical ul li{
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 17px;
    color: black;
    font-family: garamond;
    
}

#menuvertical ul li:hover{
    float: left;
    padding-right: 20px;
    font-size: 17px;
    color: black;
    background: rgb(209, 203, 203);
}


#menuvertical ul{
    list-style: none;
}

#menuvertical{
    margin-left: 770px;
    padding-top: 35px;
}

#menuvertical ul li a{
    text-decoration: none;
}

#banner{
    background: url(img/farmprinc.png) no-repeat;
    height: 500px;
}

#principal{
    height: 700px;
}

#img1{
    background: url(img/vestido1.jpg) no-repeat;
    width: 500px;
    float: left;
    height: 700px;
    margin: 50px 0 0 100px;
}

#img1:hover{
    background: url(img/vestido3.jpg) no-repeat;
}

#img2{
    width: 500px;
    height: 700px;
    float: left;
    margin: 50px 0 0 110px;
    background: url(img/img2.jfif);
}

#img2:hover{
    background: url(img/meio.jpg) no-repeat;
}

#img3{
    background: url(img/vestido2.jpg) no-repeat;
    width: 500px;
    float: right;
    height: 700px;
    margin: 50px 100px 0 0;
}

#img3:hover{
    background: url(img/vestido4.jpg) no-repeat;
}

video{
    width: 100%;
}

#rodape h4{
    font-family: garamond;
    padding: 10px 0 10px 0;
    text-align: center;
}