*{
    margin: 0;
    padding: 0;
}

#topo{
    background: url(img/farmtopo.png) no-repeat;
    height: 80px;
}

#menuvertical ul li{
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 17px;
    color: black;
    font-family: garamond;
}

#menuvertical ul{
    list-style: none;
}

#menuvertical{
    margin-left: 790px;
    padding-top: 35px;
}

#menuvertical ul li a{
    text-decoration: none;
}

#menuvertical ul li:hover{
    float: left;
    padding-right: 20px;
    font-size: 17px;
    color: black;
    background: rgb(209, 203, 203);
}

#centro{
    margin: 50px 0 0 85px;
    height: 810px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.678);

}

body{
    background: url(img/ceu.jpg) no-repeat; 
    background-size: 100% 1000px ;
}

p{
    text-align: center;
    font-size: 25px;
    font-family: garamond;
}

#fala{
    font-weight: bold;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: garamond;
}

#texto{
    padding-top: 30px;
    margin:  0 10px 0 0;
}

#katia{
    float: left;
    height: 300px;
    width: 450px;
    margin: 0 0 0 20px;
}

#rodape h4{
    font-family: garamond;
    text-align: center;
    padding: 10px 0 10px 0;
}

